body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: url('https://res.cloudinary.com/globes/image/upload/t_desktop_article_content_header_800%2A392/v1640612534/direct/shutterstock_255742975_bcmvii.jpg') no-repeat center center/cover;
    backdrop-filter: blur(3.1px); 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    background: linear-gradient(#edeff1, #bad2ed) padding-box, 
                linear-gradient(90deg, #00d2ff, #3a47d5) border-box;
    padding: 30px 40px;
    border: 3px solid transparent;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
  }

    .card:hover {
      transform: translateY(-10px);
      box-shadow: 0 12px 24px rgba(0,0,0,0.3);
    }

    .profile-img {
      width: 162px;
      height: 162px;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 3px;
      border: 3px solid transparent;
    }

    .title {
      font-size: 32px;
      margin-bottom: 10px;
      color: #0077b6;
    }

    .links a {
      text-decoration: none;
      color: #333;
      font-size: 18px;
      margin: 10px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      transition: color 0.3s;
    }

    .links a:hover {
      color: #0077b6;
    }